body {
    font-family: Arial Helvetica, sans-serif;
    
    
}


/*  FONT    */

@font-face {
    font-family: DeliciousHandrawn;
    src: url(/fonts/DeliciousHandrawn.ttf);
  }

@font-face {
    font-family: bitter;
    src: url(/fonts/Bitter.ttf);
}





/*   HEAD   */
.top_stick{
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: white;
    transform: scale(1.01);
 
}

#head{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    
    position: relative;
    z-index: 9999;
    border-bottom: 1px solid rgba(128, 128, 128, 0.07);
}

.headSelector {
    display: flex;
    text-align: center;
    gap: 20px;
    
}

.bolded{
    font: bold
}

.icons{
    width: 20px;  
    height: auto; 
}



.homeButton{
    font-weight: bold;
    text-decoration: none ;
    cursor: pointer;
    color: black;
    font-family: bitter;
    font: bold;
    font-size: large;
    
}

button {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    font-size: medium;
    color: black;
}

button:hover {
    transform: scale(1.05);
    color: #413543;
    transition: .2s ;
}

/*   FOOTER   */

.footer_box{
    max-width: 1000px;
    font-family: bitter;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    border-top: 1px solid rgba(128, 128, 128, 0.07);
    margin-left: auto;
    margin-right: auto;
}
.social_network_hyperlink:link{
    text-decoration: none;
}

.social_network{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: center;
    color: black;
}

.social_network:hover{
    transform: scale(1.1);
    transition: 0.7s ;
}

.copyright{
    color: gray;
    font: xx-small;
}

.moon:hover{
    transform: scale(1.1);
    transition: .2s ;
    cursor: pointer;
}