@keyframes shake {
    10% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(15deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-15deg);
    }
}


.shop_body{
    
    flex-wrap: wrap; 

}

.shop_items{
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;

}



.shop_box{
    width: 240px;
    height: auto;
    font: bold;
    border-radius: 5px;
    box-shadow: rgba(90, 91, 92, 0.2) 0px 8px 24px;
    margin: 10px;
    
}

.shop_box:hover{
    background-color: rgb(210, 210, 210);
    transition: 0.3s;

}

.shop_title{
    padding-top: 15px;
    text-align: center;
}



.shop_price{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.shop_image{
    width: 200px;
    height: auto;
    margin:auto;
    display:block;
    padding-bottom: 10px;
    cursor: pointer;
}

#cart_box_num{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:4%;
    right:5%;
    z-index: 100;
}

#cart_box_num .invisible{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:4%;
    right:5%;
    z-index: 1000;
    display: none;
}

.shop_image:hover{
    transform: scale(1.05);
    transition: 0.3s;
    
}



.add_cart_icon{
    width: 40px;
    margin: auto;
    display:block;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    
}




.add_cart_icon:hover{
    transform: scale(1.10);
    color: #413543;
    
}



.cart_box{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    bottom:5%;
    right:5%;
}

.darkmode .cart_box{
    background-color: rgb(67, 67, 67);
    
}

.cart_box:hover{
    background-color: rgb(64, 64, 64);
    transform: scale(1.05);
    animation: shake 0.25s;
    animation-duration: 0.25s; 
}



.cart{
    width: 30px;
    height: 30px;
    filter: invert(100%);    
    
}

.darkmode .cart {
    filter: invert(100%);
}

#carrito{
    position: fixed;
    top: 14vw;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    box-shadow: rgba(90, 91, 92, 0.2) 0px 8px 24px;
    margin: 0 auto;
    text-align: center;
    width: 80vw;
    max-width: 600px;
    height: 80vw;
    max-height: 500px;
    display: none;
    border: solid;
}

#carrito.active{
    display: inline;
}

#carrito.close{
    display: none;
}



.compra_btn{
    cursor: pointer;
    border: 0px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

.cart_box_btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.totalCart{
    display: flex;
    justify-content: center;
}